<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head.ejs') %>
    
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Lista de Jogos</h1>
    <section>
        <div id="filtroJogos">
            <label for="ordem">Filtrar por:</label>
            <select name="estilo">
                <option value="" selected>Estilo</option>
                <% for( let estilo of estilos ) { %>
                    <option value="<%= estilo.id %>"><%= estilo.descricao %></option>
                <% } %>
            </select>
            <select name="preco" id="preco">
                <option value="Preco">Preço</option>
                <option value="Gratuitos">Gratuitos</option>
                <option value="Pagos">Pagos</option>
            </select>
        </div>
        
        <ul>
            <% for(let jogo of jogos ) { %>
                <li><%= jogo.nome %> - <%= jogo.preco %> </li>
            <% } %>
        </ul>
    </section>
    
</body>
</html>