<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../../partials/head.ejs') %>
    
<body>
    <%- include('../../partials/header.ejs') %>
    <h1>Lista de Processadores</h1>
    <section>
        <a href="/processors/new" class="s-button">Inserir processador</a>
        <table>
            <tr>
                <th class="table-header">Modelo</th>
                <th class="table-header">Tier</th>
                <th class="table-header"></th>
            </tr>
            <% for(let processador of processadores ) { %>
                <tr>
                    <td><%= processador.modelo %></td>
                    <td><%= processador.tier %></td>
                    <td><form class="fake-form" action="/processors/<%= processador.id %>?_method=DELETE" method="post">
                        <button class="danger-button">Excluir</button>
                    </form></td>
                </tr>
                <% } %>
        </table>
        <ul>
        </ul>
    </section>
    
</body>
</html>